.primary{
    color: rgb(56, 179, 138);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.intro-block .row{
    align-items: center;
}

.avatar{
    width: 20%;
}

.avatar img{
    width: 90%;
    border-radius: 50%

}

.content{
    width :80%;
}

.contact-me ul{
list-style: none;
padding: 0;
}

.contact-me>ul li{
    display: inline;
    padding: 0 5px;
}

.secondary {
    color: #AAA;
}

.title {
    font-size: 24px;
}

.education-item {
    display: flex;
    align-items: center;
    width: 50%;
}

.education-item .logo{
    width: 20%;
}
.education-item .logo img{
    width: 100%;
}

.education-item ul li{
    list-style: none;
    padding: 5px 0;  
}

.education-item ul :nth-child(1) {
    color: #AAA;
}

.education-item ul :nth-child(2) {
    font-weight: 700;
    font-size: 18px;
}
.education-item ul :nth-child(3) {
    color: #186a3b;
}

.others-block {
    display: flex;
    flex-wrap: wrap;
}

.others-block h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid #AAA;
}

.skill {
    padding-right: 5px;
}

.language {
    padding-left: 5px;
}

.others-block>div {
    width: 50%;
}

.others-block>* {
    box-sizing: border-box;
}

@media screen and (max-width:992px) {
    
    .avatar,
    .avatar>img {
        width: 100%;
    }
    
    .intro-block .content {
        width: 100%;
    }

    .intro-block>.row {
        flex-direction: column;
    }

    .avatar {
        max-width: 150px;
    }

    .education-item{
        width: 50%;
    }

    .others-block>*{
        width: 100%;
    }
}
@media screen and (max-width:768px){

    .education-item{
        width: 100%;
    }
}